<div mat-dialog-content>
  <div class="row">
    Do you want to save this?
  </div>
</div>

<div mat-dialog-actions class="row">
    <div class="col-md-6" style="text-align: center;">
      <button style=" background-color: #ff0000af;" mat-button (click)="onDismiss()"><mat-icon style="color: white;">close</mat-icon></button>
    </div>
    <div class="col-md-6" style="text-align: center;">
      <button style=" background-color:green;" mat-raised-button (click)="onConfirm()"><mat-icon style="color: white;">done</mat-icon></button>
    </div>
</div>