.content-section{
  height: 93%;
  padding-top: 9%;
}
.highlight{
  background: cadetblue /* green */
}
.example-card {
    margin: 0 auto;
    margin-bottom: 2%;
}
.mat-card-header .mat-card-title {
  font-size: 20px;
  text-align: center;
}
.table td, .table th {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
legend {
    display: block;
    width: 32% !important;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 16px !important;
    line-height: inherit;
    color: inherit;
    white-space: normal;
  }
  #configuration {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    /* width: 70%; */
    margin: 0 auto;
  }
  .file-select{
    padding:5px 10px;
    background:#00ad2d;
    border:1px solid #00ad2d;
    position:relative;
    color:#fff;
    border-radius:2px;
    text-align:center;
    float:left;
    cursor:pointer;
    margin-left: 15px;
    float: right;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
  }
  /* .new-button {
    display: inline-block;
    padding: 8px 12px; 
    cursor: pointer;
    border-radius: 4px;
    background-color: #9c27b0;
    font-size: 16px;
    color: #fff;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: rgb(153,153,153);
}
.button-wrap {
  position: relative;
} */

/* .hide_file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
  float: right;
} */