<div class="content-section">
  <mat-card-header class="col-md-12">
    <mat-card-title style="font-size: 20px;">USER UTILITY MODULE DETAILS</mat-card-title>
</mat-card-header>
<mat-card class="example-card" style="margin-bottom:20%;">
    <mat-card-content style="background: ghostwhite; ">
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-12">
          <button mat-raised-button (click)="openDialog()" style="background: #09a0a0; color: white;margin-right: 10px;" class="float-right">
            <mat-icon>add</mat-icon>Add Utility Module
          </button>
        
          <a [routerLink]="['/utility-mapping-module']" mat-raised-button style="background: #09a0a0; color: white;" class="float-right">
            Utility Mapping Module
          </a>
        </div>
      </div>
      <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" >
          
          <ng-container matColumnDef="sr.No">
            <th mat-header-cell *matHeaderCellDef> Sr.No </th>
            <td mat-cell *matCellDef="let row;let i=index"> {{i+1}} </td>
          </ng-container>

          <ng-container matColumnDef="utility">
            <th mat-header-cell *matHeaderCellDef> Utility Name </th>
            <td mat-cell *matCellDef="let row"> {{row.utility}} </td>
          </ng-container>
        
          <ng-container matColumnDef="utilityTitle">
            <th mat-header-cell *matHeaderCellDef >Utility Title</th>
            <td mat-cell *matCellDef="let row"> {{row.utilityTitle}} </td>
          </ng-container>

          <ng-container matColumnDef="utilityDesc">
              <th mat-header-cell *matHeaderCellDef >Utility Description</th>
              <td mat-cell *matCellDef="let row"> {{row.utilityDesc}} </td>
          </ng-container>

          <ng-container matColumnDef="utilityActivity">
            <th mat-header-cell *matHeaderCellDef> Utility Activity </th>
            <td mat-cell *matCellDef="let row"> {{row.utilityActivity}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row">
              <button style=" background-color: #17a2b8; border-radius: 20px; color: white;" mat-icon-button matTooltip="Edit" (click)="openEditDialog(row)" ><mat-icon class="icon1">edit</mat-icon></button>
            </td>
          </ng-container>
        
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
              <td mat-cell *matCellDef="let row">
                <button style=" background-color: #ff0000af; border-radius: 20px; color: white;" mat-icon-button matTooltip="Delete" (click)="delete(row.utilityId)"><mat-icon class="icon1">delete
                </mat-icon></button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableHeader;"></tr>
          <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
          <!-- <div *ngIf="dataSource.length === 0">No records found</div> -->
      </table>
      <mat-paginator [pageSizeOptions]="[20, 30, 50, 100]"></mat-paginator>
      </div>
    </mat-card-content>
</mat-card>
<ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.wanderingCubes, backdropBorderRadius: '3px'}"></ngx-loading>
</div>