<!-- 'deviceName', 'deviceSimNo', 'activationDate', 'userName', 'deviceId' -->
<div class="example-container mat-elevation-z8 content-section ">
    <mat-card-header class="col-md-12">
        <mat-card-title>ALL DEVICES INFO</mat-card-title>
    </mat-card-header>
    <mat-card class="example-card">
        <mat-card-content style="background: ghostwhite; ">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field style="width: 100%">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                        <!-- <input type="search" matInput [(ngModel)]="divisionSearch" placeholder="Search any fields"/> -->
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <!-- <mat-icon>search</mat-icon> -->
                </div>

             
                <div class="col-md-4">
                    <span class="btn-download">
                      <button  matTooltip="Download in Excel" (click)="downloadFile()">
                        <i class="material-icons">cloud_download</i>
                      </button>
                    </span>
                </div>

                <div class="col-md-4">
                    <button type="button" class="float-right" style="text-align: center;background-color: #205c69d1!important; 
                  color: white;" mat-raised-button (click)="addDeviceDialog()"> 
                    Add Device
                  </button>
                </div>

            </div>
        
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="parentId">
                    <th mat-header-cell *matHeaderCellDef>Parent ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.parentId}} </td>
                </ng-container>

                <ng-container matColumnDef="studentId">
                    <th mat-header-cell *matHeaderCellDef>Student ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.studentId}} </td>
                </ng-container>

                <ng-container matColumnDef="deviceName">
                    <th mat-header-cell *matHeaderCellDef>Device Name</th>
                    <td mat-cell *matCellDef="let row"> {{row.deviceName}} </td>
                </ng-container>

                <ng-container matColumnDef="deviceSimNo">
                    <th mat-header-cell *matHeaderCellDef>SIM No</th>
                    <td mat-cell *matCellDef="let row"> {{row.deviceSimNo}} </td>
                </ng-container>
                <ng-container matColumnDef="activationDate">
                    <th mat-header-cell *matHeaderCellDef>Activation Date</th>
                    <td mat-cell *matCellDef="let row"> {{row.activationDate |  date : "MMM d, y HH:mm"}} </td>
                </ng-container>
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="deviceId">
                    <th mat-header-cell *matHeaderCellDef>IMEI No </th>
                    <td mat-cell *matCellDef="let row"> {{row.deviceId}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                      <td mat-cell *matCellDef="let row">
                        <button style=" background-color: #17a2b8; border-radius: 20px; color: white;" mat-icon-button matTooltip="Edit" (click)="openEditDialog(row)" ><mat-icon class="icon1">edit</mat-icon></button>
                      </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="tableHeader;"></tr>
                <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
                <!-- <div *ngIf="dataSource.length === 0">No records found</div> -->
            </table>
            <mat-paginator [pageSizeOptions]="[100, 250, 500, 1000]"></mat-paginator>
        </mat-card-content>
    </mat-card>
    <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.wanderingCubes, backdropBorderRadius: '3px'}"></ngx-loading>
</div>