<div>
  <!-- <div class="col-md-1" style="margin-top: 5px;"> -->
    <form [formGroup]="dateRangeCmdHistory" (ngSubmit)="loadUsers()">
      <div class="row">
      
        <div class="col-md-3">
          <div class="input-calendar">
            <input class="date-input" placeholder="Start Time" [owlDateTime]="dt1" formControlName="startTime" [max]="maxDate" [owlDateTimeTrigger]="dt1" required style="width: 100%;">
            <owl-date-time #dt1></owl-date-time>
          </div>
        </div>
    
        <div class="col-md-3">
          <div class="input-calendar">
            <input class="date-input" placeholder="End Time" [owlDateTime]="dt2" formControlName="endTime" [max]="maxDate" [owlDateTimeTrigger]="dt2" required style="width: 100%;">
            <owl-date-time #dt2 ></owl-date-time>
            <!-- <mat-error *ngIf="f.endTime.hasError('required')">End time is required</mat-error> -->
          </div>
        </div>
    
        <div class="col-md-3">
          <button [disabled]="!dateRangeCmdHistory.valid" style="background: cadetblue;color: white;" class="submit-btn float-right" mat-button mat-raised-button >Get History</button>
        </div>

        <span class="col-md-3">
          <button class="float-right" matTooltip="Download in Excel" (click)="downloadFile()">
            <i class="material-icons">cloud_download</i>
          </button>
        </span>
    </div>
    </form>
   
  <!-- </div> -->
  <table class="table table-bordered table-responsive">
    <tr style="text-align: center;">
      <th>Parent ID</th>
      <th>Device Name</th>
      <th>IMEI Number</th>
      <th>Command </th>
      <th>Command Response</th>
      <th>Device Response</th>
      <th>Command Sent At</th>
      <th>Command Sent By</th>
    </tr>
    <tbody>
      <tr *ngFor="let user of filteredUsers | paginate: { itemsPerPage: 30, currentPage: p } | commandTabeFilter: searchByKeyword: 'name'">
        <td>{{ user.ParentId}}</td>
        <td>{{ user.name}}</td>
        <td>{{ user.deviceId}}</td>
        <td>{{ user.command}}</td>
        <td>{{ user.commandDeliveredMsg}}</td>
        <td>{{ user.deviceCommandResponse}}</td>
        <td>{{ user.timestamp * 1000 |  date : "MMM d, y  HH:mm"}}</td>
        <td>{{ user.login_name}}</td>
      </tr>
    </tbody>
    <ul class="pagination">  
        <pagination-controls (pageChange)="p = $event"></pagination-controls>  
    </ul> 
  </table>
  <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.wanderingCubes, backdropBorderRadius: '3px'}" ></ngx-loading>
  </div>