.content-section{
  height: 93%;
  padding-top: 9%;
}
.example-card {
    margin: 0 auto;
    margin-bottom: 5%;
}
.report-card{
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 0px;
}
table {
    width: 100%;
}
/* .mat-card-header .mat-card-title {
  font-size: 20px;
  text-align: center;
} */
mat-toolbar{
  height: 40px;
  /* border-radius: 21px; */
  padding-top: 15px;
  margin: 0 auto;
  width:52%;
  /* background-color: #bbb6b6; */
}

th.mat-column-name,th.mat-column-deviceId, th.mat-column-timestamp{
  border-right: 1px solid #e0e0e0;
  padding-left: 10px;
  padding-right: 10px;
  width: 13%;
  text-align: center;
}
td.mat-column-name, td.mat-column-deviceCommandResponse,
 td.mat-column-deviceId, td.mat-column-timestamp
 {
  border-right: 1px solid #e0e0e0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
th.mat-column-commandDeliveredMsg, td.mat-column-commandDeliveredMsg
{
  border-right: 1px solid #e0e0e0;
  padding-left: 10px;
  padding-right: 10px;
  width: 20%;
  text-align: center;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
  padding-right: 10px;
  padding-left: 10px !important;
  text-align: center;
}

.mat-column-command {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  border-right: 1px solid #e0e0e0;
}

.mat-column-deviceCommandResponse {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: center;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  border-right: 1px solid #e0e0e0;
}
