<div class="content-section">
  <mat-icon style="float:right; border: 1px solid lightgrey;" (click)="onNoClick()">close</mat-icon>
    <h1><mat-card-title style="text-align: center;">EDIT KEYMAN BEAT</mat-card-title></h1>
    <mat-card class="example-card">
      <mat-card-content>
        <form class="example-form" [formGroup]="updateKeymanForm" >
          <div class="row">
            <mat-form-field class="col-md-6">
              <mat-label>Km: Start</mat-label>
              <input type="number" matInput placeholder="Km Start" name="kmstart" 
              formControlName="kmStart">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <mat-label>Km: End</mat-label>
              <input type="number" matInput placeholder="Km End" name="kmend" formControlName="kmEnd">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-7">
              <mat-label>Select Section</mat-label>
              <mat-select formControlName="sectionName">
                <mat-option *ngFor="let option of section" value={{option}}>{{option}}</mat-option>
              </mat-select>
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
          </div>  

          <div class="row">
            <mat-form-field class="col-md-6">
              <mat-label>Start Latitude</mat-label>
              <input type="number" matInput placeholder="Start Lat" name="startlat" formControlName="kmStartLat">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <mat-label>Start Longitude</mat-label>
              <input type="number" matInput placeholder="Start Lng" name="startlong" formControlName="kmStartLang">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-6">
              <mat-label>End Latitude</mat-label>
              <input type="number" matInput placeholder="End Lat" name="endlat" formControlName="kmEndLat">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6">
              <mat-label>End Longitude</mat-label>
              <input type="number" matInput placeholder="End Lng" name="endlng" formControlName="kmEndLang">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-md-6">
              <mat-label>Start Time</mat-label>
              <input type="text" matInput placeholder="Enter Start Time" name="startTime" formControlName="startTime">
              <mat-error *ngIf="hasErrorInSetPeriod('startTime', 'required')">This field is required.</mat-error>
              <mat-error *ngIf="hasErrorInSetPeriod('startTime', 'pattern')">
                Enter Valid Time; e.g: 01:00,22:00(24-hour format)
              </mat-error>
            </mat-form-field>
      
            <mat-form-field class="col-md-6">
              <mat-label>End Time</mat-label>
              <input type="text" matInput placeholder="Enter Start End" name="endTime" formControlName="endTime">
              <mat-error *ngIf="hasErrorInSetPeriod('endTime', 'required')">This field is required.</mat-error>
              <mat-error *ngIf="hasErrorInSetPeriod('endTime', 'pattern')">
                Enter Valid Time; e.g: 01:00,22:00(24-hour format)
              </mat-error>
            </mat-form-field>
          </div>
          <mat-error>
            **Keep a gap of 30 minutes before the start time and after the end time
          </mat-error>
          <br>
          <button class="btn" style="background-color: #205c69; color: white" mat-button mat-raised-button (click)="updateKeymanBeat()">Update</button>&nbsp; &nbsp;
          <button class="btn btn-danger" style="color: white" mat-button mat-raised-button (click)="resetForm()">Cancel</button>
        </form>
      </mat-card-content>
    </mat-card>
  <!-- </div> -->
  <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.wanderingCubes, backdropBorderRadius: '3px'}"></ngx-loading>
</div>
















