.content-section{
    height: 93%;
    padding-top: 9%;
}
.main_content {
  width:100%; 
  height: calc(100vh - 130px); 
}
agm-map {
  height: 240px;
  z-index: 4;
  width: 100%
} 

.mat-card-title {
  font-size: 20px;
}

.table-responsive {
  max-height: 110px !important;
  overflow-x: auto !important;
}

.table td, .table th {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

legend {
  display: block;
  width: 65% !important;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 16px !important;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
#configuration {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
  /* width: 70%; */
  margin: 0 auto;
  overflow: auto;
  width: 310px;
  max-height: 290px;
  max-width: 320px;
  /* height: 200px; */
}

th.mat-column-issueTicketId,th.mat-column-issueTitle, th.mat-column-contactPerson, th.mat-column-contactPersonMobNo, th.mat-column-issueOwner,
th.mat-column-issueStatus, th.mat-column-priority, th.mat-column-createdAt 
  {
    border-right: 1px solid #e0e0e0;
    padding-left: 20px;
    padding-right: 20px;
    /* width: 15%; */
    text-align: center;
  }
  td.mat-column-issueTicketId, td.mat-column-issueTitle, td.mat-column-contactPerson, td.mat-column-contactPersonMobNo, td.mat-column-issueOwner,
  td.mat-column-issueStatus, td.mat-column-priority,  td.mat-column-createdAt
   {
    border-right: 1px solid #e0e0e0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }

  td.mat-cell:first-of-type {
    padding-left: 10px !important;
    /* padding-right: 24px;  */
  }
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
    border-right: 1px solid #e0e0e0;
    padding-right: 10px;
    padding-left: 10px !important;
    /* width:100%; */
    text-align: center;
  }

  .row-row {
    position: relative;
    border-right: 1px solid black
  }

  /* th.mat-column-issueComment {
    border-right: 1px solid #e0e0e0;
    text-align: center !important;
    flex: 0 0 28% !important;
    width: 40% !important;
  }
  td.mat-column-issueComment {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    border-right: 1px solid #e0e0e0;
    width: 40% !important;
    text-align: center !important;
    overflow-wrap: break-word;
    padding-right: 10px;
    padding-left: 10px !important;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  } */

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-bottom-width: 100%;
    border-top-width: 100%;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-description {
   
    padding: 16px;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }